* {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  line-height: 160%;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

.visualy-hidden {
  display: none;
}

@font-face {
  font-family: 'BebasNeue400';
  src: url('../fonts/BebasNeue400.ttf') format('truetype');
}


/* HEADER NAV-BAR */
.header {
  min-height: 100vh;
  margin-bottom: 150px;
  padding-top: 95px;
}

.header-bg {
  position: relative;
  background-image: url('../images/header-bg.png');
  background-size: cover;
  background-position: center;
}

.header-bg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #292D33;
  opacity: 0.6;
  z-index: 0;
}

.navbar {
  display: flex;
  width: 100%;
  height: 95px;
  left: 0;
  top: 0;
  margin-bottom: 150px;
  position: fixed;
  align-items: center;
  color: #fff;
  z-index: 2;
  border-bottom: 1px solid rgba(235, 235, 240, 0.2);
  transition: background-color .4s, height .4s;
}

.navbar-light {
  height: 75px;
  background-color: #fff;
  color: #292D33;
}

.header-logo {
  margin-right: 50px;
  padding: 0 50px;
  border-right: 1px solid rgba(235, 235, 240, 0.2);
}

.header-menu-list {
  flex-basis: 100%;

}

.header-menu-item {
  display: inline-block;
  margin-right: 50px;
}

.header-menu-item:last-child {
  margin-right: 0;
}

.header-phone {
  flex-shrink: 0;
  margin-right: 50px;
}

.phone-icon,
.header-phone-link {
  display: inline-block;
  text-align: start;
  vertical-align: middle;
}

.button {
  min-width: 300px;
  height: 100%;
  padding: 35px 50px;
  font-weight: 600;
  text-align: center;
  background-color: #5C8EE5;
  color: #fff;
  line-height: 160%;
  border: none;
  cursor: pointer;
}

.navbar-button {
  padding: 0;
}


/* CONTAINER HEADER-CONTENT */
.container {
  max-width: 1450px;
  padding: 0 5px;
  margin: 0 auto;

}

.separate-line {
  width: 150px;
  height: 2px;
  background-color: #5C8EE5;
}

.header-content {
  position: relative;
  z-index: 1;
}

.header-title {
  font-family: BebasNeue400, sans-serif;
  max-width: 1080px;
  font-size: 80px;
  line-height: 120%;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.header-text {
  max-width: 720px;
  width: 100%;
  line-height: 160%;
  color: #fff;
  margin-bottom: 50px;
}

.header-content-btn {
  padding: 25px 60px;
  min-width: 313px;
  margin-bottom: 100px;
  cursor: pointer;
}

/* HEADER FEATURES */
.header-features {
  position: relative;
  z-index: 1;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
}

.header-features-item {
  max-width: 285px;
  padding: 30px 50px;
  border: 1px solid rgba(235, 235, 240, 0.2);
}

.header-features-item:not(:last-child) {
  border-right: none;
}

.header-features-text {
  line-height: 160%;
}

/* SECTION WORK-SCHEME */
.work-scheme_title {
  font-family: BebasNeue400, sans-serif;
  font-weight: 400;
  font-size: 60px;
  line-height: 120%;
  text-transform: uppercase;
  color: #292D33;
  margin-bottom: 50px;
}

.steps-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.steps-item {
  max-width: 330px;
}

.step-number {
  display: flex;
  align-items: center;
  font-family: BebasNeue400, sans-serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  color: #5C8EE5;
}

.step-number::after {
  content: "";
  height: 1px;
  width: 100%;
  margin-left: 30px;
  background: #ebebf0;
}

.step-title {
  margin: 30px 0 10px 0;
  font-weight: 400;
  font-size: 28px;
  line-height: 160%;

}

.step-info {
  margin: 10px 0 20px 0;
  color: #828A99;
}

.step-link {
  display: flex;
  align-items: center;
  font-weight: 600;
  color: #5C8EE5;
}

.step-link::before {
  content: "";
  height: 1px;
  width: 40px;
  margin-right: 20px;
  background: #5C8EE5;
}