* {
  box-sizing: border-box;
}

html {
  font-size: 1rem;
}

body {
  font-family: "Noto Sans", sans-serif;
  line-height: 160%;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

.visualy-hidden {
  display: none;
}

@font-face {
  font-family: 'BebasNeue400';
  src: url('../fonts/BebasNeue400.ttf') format('truetype');
}


/* HEADER NAV-BAR */
.mobile-menu {
  display: none;
}

.header {
  min-height: 100vh;
  margin-bottom: 125px;
  padding-top: 5.9375rem;
}

.header-bg {
  position: relative;
  background-image: url('../images/header-bg.png');
  background-size: cover;
  background-position: center;
}

.header-bg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #292D33;
  opacity: 0.6;
  z-index: 0;
}

.navbar {
  display: flex;
  width: 100%;
  height: 5.9375rem;
  left: 0;
  top: 0;
  margin-bottom: 9.375rem;
  position: fixed;
  align-items: center;
  color: #fff;
  z-index: 2;
  border-bottom: .0625rem solid rgba(235, 235, 240, 0.2);
  transition: background-color .4s, height .4s;
}

.navbar-light {
  height: 4.6875rem;
  background-color: #fff;
  color: #292D33;
}

.header-logo {
  margin-right: 3.125rem;
  padding: 0 3.125rem;
  border-right: .0625rem solid rgba(235, 235, 240, 0.2);
}

.header-menu-list {
  flex-basis: 100%;

}

.header-menu-item {
  display: inline-block;
  margin-right: 3.125rem;
}

.header-menu-item:last-child {
  margin-right: 0;
}

.header-phone {
  flex-shrink: 0;
  margin-right: 3.125rem;
}

.phone-icon,
.header-phone-link {
  display: inline-block;
  text-align: start;
  vertical-align: middle;
}

.phone-icon {
  fill: #5C8EE5;
}

.button {
  min-width: 17.875rem;
  height: 100%;
  padding: 2.1875rem 3.125rem;
  font-weight: 600;
  text-align: center;
  background-color: #5C8EE5;
  color: #fff;
  line-height: 160%;
  border: none;
  cursor: pointer;
}

.navbar-button .btn-phone-icon {
  display: none;
}

.navbar-button {
  padding: 0;
  padding-left: 1rem;
}


/* CONTAINER HEADER-CONTENT */
.container {
  max-width: 90.625rem;
  padding: 0 .3125rem;
  margin: 0 auto;

}

.separate-line {
  width: 9.375rem;
  height: .125rem;
  background-color: #5C8EE5;
}

.header-content {
  position: relative;
  z-index: 1;
}

.header-title {
  font-family: BebasNeue400, sans-serif;
  max-width: 67.5rem;
  font-size: 5rem;
  line-height: 120%;
  color: #fff;
  text-transform: uppercase;
  margin-top: 10.75rem;
  margin-bottom: 2.375rem;
  padding-left: .5rem;
}

.header-text {
  max-width: 45rem;
  width: 100%;
  line-height: 160%;
  color: #fff;
  margin-bottom: 3.125rem;
  padding-left: .625rem;
  word-spacing: .0625rem;
}

.header-content-btn {
  padding: 1.5625rem 3.75rem;
  min-width: 19.5625rem;
  margin-left: .625rem;
  margin-bottom: 5.3125rem;
  cursor: pointer;
}

/* HEADER FEATURES */
.header-features {
  position: relative;
  z-index: 1;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
}

.slider-buttons {
  display: none;
  height: 44px;
}

.slider-buttons img {
  cursor: pointer;
}

.slider-button-prev,
.slider-button-next {
  height: 100%;
  flex-basis: 50%;
  text-align: center;
  border: 1px solid rgba(235, 235, 240, 0.2);
}

.header-features-item {
  max-width: 17.8125rem;
  padding: 1.875rem 3.125rem;
  min-height: 100%;
  border: .0625rem solid rgba(235, 235, 240, 0.2);
}

.header-features-item:not(:last-child) {
  border-right: none;
}

.header-features-icon {
  margin-left: .5rem;
}

.header-features-text {
  padding-left: .5rem;
  line-height: 160%;
}

/* SECTION WORK-SCHEME */
.work-scheme-separator {
  margin-left: 9.0625rem;
}

.work-scheme_title {
  font-family: BebasNeue400, sans-serif;
  font-weight: 400;
  font-size: 3.75rem;
  line-height: 120%;
  text-transform: uppercase;
  color: #292D33;
  margin: 0;
  margin-bottom: 3.5rem;
  padding-top: 1.375rem;
  padding-left: 9.0625rem;
}

.steps-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1.875rem;
  margin-left: 9.0625rem;
}

.steps-item {
  max-width: 18.75rem;
}

.step-item-2 {
  padding-left: 1.75rem;
}

.step-item-3 {
  padding-left: 3.6875rem;
}

.step-item-4 {
  padding-left: 5.625rem;
}

.step-number {
  display: flex;
  align-items: center;
  font-family: BebasNeue400, sans-serif;
  font-weight: 400;
  font-size: 3rem;
  line-height: 120%;
  color: #5C8EE5;
}

.step-number::after {
  content: "";
  height: .0625rem;
  width: 100%;
  margin-left: 1.875rem;
  background: #ebebf0;
}

.step-title {
  margin: 1.875rem 0 .625rem 0;
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 160%;

}

.step-info {
  margin: .8125rem 0 1.25rem 0;
  color: #828A99;
}

.step-link {
  display: flex;
  align-items: center;
  font-weight: 600;
  color: #5C8EE5;
}

.step-link::before {
  content: "";
  height: .0625rem;
  width: 2.5rem;
  margin-right: 1.25rem;
  background: #5C8EE5;
}